[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mstate"]
	path = mstate
	url = https://github.com/hputter/mstate
	shallow = true
	registered = true
