[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynpred"]
	path = dynpred
	url = https://github.com/cran/dynpred
[submodule "mstate"]
	path = mstate
	url = https://github.com/hputter/mstate
